@media (min-width: 1601px) {
	body {
		--content-max-width: 1400px;
		--icon-gap: 16px;
		--icon-height: 48px;
		--icon-text-size: 36px;
		--icon-text-weight: 700;
		--navigation-root-padding-vertical: 32px;
		--navigation-gap: 32px;
		--navigation-text-size: 16px;
		--navigation-padding-horizontal: 16px;
		--navigation-padding-vertical: 12px;

		--section-gap-vertical: 24px;
		--section-gap-horizontal: 64px;

		font-size: 1rem !important;
	}

	body > .body-wrapper {
		padding: 48px 0 !important;
	}
}

@media (max-width: 1600px) {
	body {
		--content-max-width: 1150px;
		--navigation-text-size: 16px;

		--section-gap-vertical: 20px;
		--section-gap-horizontal: 48px;

		font-size: 1rem !important;
	}

	body > .body-wrapper {
		padding: 48px 0 !important;
	}
}

@media (max-width: 1400px) {
	body {
		--content-max-width: 950px;
		--icon-height: 42px;
		--icon-text-size: 32px;
		--navigation-root-padding-vertical: 24px;
		--navigation-gap: 20px;
		--navigation-text-size: 16px;
		--navigation-padding-horizontal: 14px;
		--navigation-padding-vertical: 10px;

		font-size: 0.91666666666666666666666666666667rem !important;
	}
}

@media (max-width: 1100px) {
	body {
		--content-max-width: 800px;
		--icon-gap: 12px;
		--navigation-root-padding-vertical: 20px;
		--navigation-gap: 16px;

		--section-gap-vertical: 12px;
		--section-gap-horizontal: 36px;
		--button-padding-vertical: 14px;
		--button-padding-horizontal: 20px;
		--button-border-radius: 8px;

		font-size: 0.83333333333333333333333333333333rem !important;
	}
}

@media (max-width: 860px) {
	body {
		--content-max-width: 600px;
		--content-gap: clamp(40px, calc(100dvh * 0.168421053), 80px);
		--icon-gap: 8px;
		--icon-height: 36px;
		--icon-text-size: 28px;
		--navigation-gap: 12px;
		--navigation-text-size: 16px;
		--navigation-padding-horizontal: 14px;
		--navigation-padding-vertical: 14px;

		font-size: 0.75rem !important;
	}
}

@media (max-width: 700px) {
	body {
		--content-gap: 80px;
		--icon-gap: 8px;
		--icon-height: 32px;
		--icon-text-size: 24px;
		--icon-text-weight: 700;
		--navigation-root-padding-vertical: 16px;

		font-size: 0.66666666666666666666666666666667rem !important;
	}

	body > .body-wrapper {
		padding: 48px 48px 96px !important;
	}
}
